<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Passport App</title>
    <link rel="stylesheet" href="/assets/style.css" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script src= 'angular/angular.js'></script>
    <script src= "angular-route/angular-route.js")></script>
    <script src= "javascript/config.js"></script>
    <script src= "javascript/factories/***UPDATE FACTORY NAME***.js"></script>
    <script src= "javascript/controllers/***UPDATE CONTROLLER NAME***.js"></script>
  </head>
  <body ng-app="myApp">
    <div class="container">
      <div id="UserForm" ng-controller="travelers">
      <h2><u>Passport App</u></h2>
      <h5>Make your dreams become a reality.</h5>
      <h5>Track your Travel Goals using the Passport App.</h5>
        <form>
          <strong>User Name:</strong><input type="text" ng-model="newTraveler.username" placeholder="name"><br>
         <strong> Password:</strong><input type="text" ng-model="newTraveler.password" placeholder="password"><br>
         <input type="submit" value="Start Here" class="btn btn-default" ng-click="addtraveler()">
        </form>
      </div>
      <div ng-view>
      </div>
  </div>
  </body> 
</html>

