<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	 <meta charset="utf-8">
    <title>Passport App</title>
    <link rel="stylesheet" href="/assets/style.css" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script src= 'angular/angular.js'></script>
    <script src= "angular-route/angular-route.js")></script>
    <script src= "javascript/config.js"></script>
    <script src= "javascript/factories/travelerFactory.js"></script>
    <script src= "javascript/controllers/travelerController.js"></script>
</head>
<body>
<p>Hello, World</p>
<!-- <h2>'Sup {{traveler.name}}</h2>

<h4>Places I have been:</h4>
<div ng-repeat="city in placesbeen">
  City: {{city.name}}, Country: {{city.country}}
  Latitude: {{city.latitude}} / Longitude: {{city.longitude}}
  Visited: {{city.dateVisited}}
</div>

<h4>Places I would love to go to:</h4>
<div ng-repeat="city in placesdesire">
  City: {{city.name}}, Country: {{city.country}}
  Latitude: {{city.latitude}} / Longitude: {{city.longitude}}
</div>

<h4>Somewhere new right now? Check in!</h4>
<div ng-include="static/locator.html">

</div>
<form>
  <input type="hidden" name="latandlong">
  <input type="submit" value="Check In!">
</form>

<h4>Been to a city you'd like to add? Or want to research a city you've never been to?</h4>
<form>
  City: <input type="text" name="city">
  <input type="submit" value="Search">
</form> -->


</body>
</html>