<h2>'Sup {{traveler.name}}</h2>

<h4>Places I have been:</h4>
<div ng-repeat="city in placesbeen">
  City: {{city.name}}, Country: {{city.country}}
  Latitude: {{city.latitude}} / Longitude: {{city.longitude}}
  Visited: {{city.dateVisited}}
</div>

<h4>Places I would love to go to:</h4>
<div ng-repeat="city in placesdesire">
  City: {{city.name}}, Country: {{city.country}}
  Latitude: {{city.latitude}} / Longitude: {{city.longitude}}
</div>

<h4>Somewhere new right now? Check in!</h4>
<div class="modalContainer">
  <!-- Fire the modal -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Check In!</button>

  <!-- Create modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">You are here:</h4>
        </div>
        <div class="modal-body">
          <section id="wrapper">
              <article>

              </article>
          </section>
        </div>
        <div class="modal-footer">
          <form>
            <input type="text" ng-model="currLat" id="myLat">
            <input type="text" ng-model="currLng" id="myLng">
            <input type="submit" value="Check In!" ng-click="addCurrLocation()" data-dismiss="modal">
          </form>
          <!-- <button type="button" class="btn btn-default" ng-model="addLocation">Check In!</button> -->
          Click the allow button to let the browser find your location.
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Been to a city you'd like to add? Or want to research a city you've never been to?</h4>
<!-- Place autocomplete -->
  <input id="searchTextField" type="text" size="50">
  <script>
    var input = document.getElementById('searchTextField');
    // Limits autocomplete to cities
    var options = {
    types: ['(cities)'],
    };
    new google.maps.places.Autocomplete(input,options);
  </script>
